*{
    margin: 0;
}
   /* css for top */
   #top{
       display: flex;
       justify-content: right;
       align-items: center;
       width: 100%;
       margin: auto;
       height:2rem;
       background-color: #F3EEF0;
   }
   #top>div{
       width: 10%;
       height: 70%;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 2px solid black;
       border-bottom: 0px;
       border-top: 0px;
       color: #252525;
       border-left: 0px;
   }
   #top>div>p{
       margin-left: 5px;
   }
  #top>div:last-child{
      border-right: 0px;
  }
   /* css for middle navbar */
   #middle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        margin: auto;
   }
   #middle>.text{
         width: 9%;
         height: 60%;
         font-size: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #03021A;
         font-family: sans-serif;
      }
      #middle>.text:hover{
          color: rgb(241, 6, 124);
      }
      #text{
          color: red;
      }
       .account{
       width: 9%;
         height: 60%;
         margin-left: 40px;
         font-size: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      #logo{
       width: 100%;
       height: 100%;
      }
      .account>p{
          margin-left: 5px;
          color: #03021A;
         font-family: sans-serif;
      }
      .account>i{
          font-size: 20px;
       
      }
      .card
        {
          width: 2%;
         height: 60%;
         font-size: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .card>i{
          font-size: 20px;
      }

   .search{
       width: 20%;
       height: 60%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: 70px;
   }
   .search>input{
       padding: 10px 50px;
   }
   /* css for buttom navbar creation  */
   #bottom{
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid red;
       width: 100%;
       height: 3rem;
       margin: auto;
   }
   #bottom>div{
       width: 9%;
       display: flex;
       font-size: 15px;
       font-family: sans-serif;
       justify-content: center;
       align-items: center;
       height: 50%;
   }
   #bottom>div:hover{
       color: rgb(236, 13, 169);
   }
   .skin,.hair{
       margin-right: -40px;
   }
   .frag,.lux{
       margin-left: -30px;
   }

   @media all and (min-width:380px) and (max-width:970px)
   {
       #top>div>p{
       font-size: 12px;
   } 
   #top>div{
       width: 15%;
   }
   #top>div>i{
       font-size: 10px;
   }
   #middle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 4rem;
        margin: auto;
   }
   #middle>.text{
       font-size: 10px;
      }
     #logo{
         width: 70%;
         height: 70%;
     }
     .search>input{
       padding: 5px 20px;
   }
   .search{
       width: 10%;
       height: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-left: 70px;
   }
   .account{
       width: 5px;
       margin-left: 120px;
   }
   .account>i{
       font-size: 10px;
   }
   .card>i{
       font-size: 10px;
       margin-left: 100px;
   }

}